@use "base";

// PRIMARY CTA
.primaryCTA,
.secondaryCTA {
  background-color: base.$accent-color;
  padding: 5px 10px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  a {
    color: #fff;
  }
}

.secondaryCTA {
  background-color: base.$primary-color;
}
.primaryCTA:hover {
  background-color: lighten(base.$accent-color, 7%);
}

.secondaryCTA:hover {
  background-color: lighten(base.$primary-color, 7%);
}

// NAV COMPONENT
.navComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  .basketCount {
    position: relative;
    svg {
      margin: 0.5rem;
    }
    svg:hover {
      fill: base.$primary-color;
    }
    p {
      position: absolute;
      right: 0;
      top: 0;
      color: #fff;
      color: base.$primary-color;

      background-color: #87acbe;
      border-radius: 25px;
      padding: 2px 6px;
    }
  }
}

// HOME PAGE
// BANNER
.bannerContainer .bannerImage {
  position: relative;
}
.bannerImage {
  background-image: url("./fest4.webp");
  width: 90%;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 45%;
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-size: 3rem;
  //   opacity: 0.7;
  border-radius: 25px;
  border: none;
  .bgBannerFadeOut {
    background-color: rgba(161, 161, 161, 0.495);
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }

  a {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    height: 30vh;
    padding: 1rem;
  }

  .primaryCTA,
  .secondaryCTA {
    width: 150px;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    right: 30px;
    bottom: 30px;
  }
}

// LINE-UP
.lineupContainer {
  max-width: 1400px;
  margin: 0 auto;
}
.lineupBand,
.defaultLineup {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  column-gap: 4px;
}
.defaultLineup {
  font-size: 1.7rem;
  width: 70%;
  text-align: center;
}

.lineupBand {
  margin: 1.5rem auto;
}

.andMoreLineup {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
}

// SCHEDULE PAGE
// RADIO BUTTONS

.daysContainer {
  display: flex;
  flex-wrap: wrap;
}

// source: https://codepen.io/phusum/pen/VQrQqy
.radioButton {
  margin: 0.3rem;
  width: 100px;
  height: 50px;
  position: relative;
  background-color: base.$primary-color;
  color: white;
  border-radius: 25px;

  .labelTop {
    font-size: 1rem;
  }

  .labelBottom {
    font-size: 0.8rem;
  }
}

.radioButton label,
.radioButton input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.radioButton input[type="radio"] {
  opacity: 0.011;
  z-index: 10;
}

.radioButton input[type="radio"]:checked + label {
  background: #20b8be;
  border-radius: 25px;
}

.radioButton label {
  cursor: pointer;
  z-index: 11;
  display: block;
  text-align: center;
  padding: 0.4rem 1rem;
}
.stagesButtons {
  display: flex;
}
.daysButtons {
  display: flex;
}

.daysButtons,
.stagesButtons {
  @media only screen and (max-width: 760px) {
    display: none;
  }
}

#daysDropdown,
#stagesDropdown {
  @media only screen and (min-width: 760px) {
    display: none;
  }
  padding: 1rem 0.5rem;
  text-align: center;
}
#daysDropdown {
  background-color: base.$primary-color;
  border: none;
  color: white;
  outline: none;
}
#stagesDropdown {
  background-color: #c1dadd;
  border: none;
  color: base.$primary-color;
  outline: none;
}
option {
  background-color: #c1dadd;
  color: base.$primary-color;
  border-style: none;
  align-items: center;
  outline: none;
}
//SCHEDULE

.schedule {
  background-color: #f4f3f2;
  border-radius: 30px;
  margin: 3rem 1rem;
  width: 400px;

  .stageHeader {
    position: relative;
    top: -5.5rem;
    text-align: center;
    font-size: 1.4rem;
    * {
      font-family: base.$paragraph-font;
    }
  }
  .waveDiv {
    height: 6rem;
  }

  //source: https://codepen.io/TajShireen/pen/JjGvVzg
  .sessions {
    margin-top: 2rem;
    border-radius: 12px;
    position: relative;
    padding: 1rem 0 1rem 2rem;
    li {
      border-left: 4px solid #2f506173;
      position: relative;
      padding: 0 0 1.2rem 1.2rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      &:last-child {
        border: 0px;
        position: relative;
        left: 4px;
      }
      div {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
      }
      span {
        align-self: flex-end;
      }
    }
    .time {
      font-weight: 100;
    }
    p {
      font-weight: 900;
      font-family: base.$paragraph-font;
      font-size: 1.15rem;
    }
    .break {
      p {
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .schedule {
    .sessions {
      margin: 0;
      padding: 0;
    }
    ul {
      transform: scale(0.9);
    }
    .stageHeader {
      top: -4.5rem;
      font-size: 1.2rem;
    }
  }
}
.break {
  &::before {
    content: "";
    width: 1rem;
    height: 1rem;
    background: base.$primary-color;
    border-radius: 50%;
    position: absolute;
    left: -0.6rem;
    top: 0px;
  }
}

.band {
  &::before {
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    background: base.$primary-color;
    border-radius: 50%;
    position: absolute;
    left: -0.85rem;
    top: 0px;
  }
}

.cancelled {
  opacity: 0.5;
  text-decoration: line-through;
}

.cancelledText {
  position: relative;
  color: red;
}

//BAND CARD

.bandCard {
  cursor: pointer;
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    filter: brightness(0.7);
  }
  img:hover {
    filter: brightness(1);
    transition: 0.5s;
  }
  h4 {
    position: relative;
    color: white;
    top: -5rem;
    left: 1rem;
    width: 200px;
    font-size: 1rem;
  }
  &::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 200px;
  }
}

.midgard::before {
  background-color: base.$midgard-color;
}

.vanaheim::before {
  background-color: base.$vanaheim-color;
}

.jotunheim::before {
  background-color: base.$jotunheim-color;
}

//POPUP

.popUpContainer {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* pointer-events: none; */
  background-color: rgba(75, 75, 75, 0.63);
}
.popUp {
  position: fixed;
  width: 60vw;
  max-width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  max-height: 80vh;
  overflow: scroll;
  padding: 1rem 0.5rem;
  img {
    height: 30vh;
    border-radius: 5px;
  }

  .logoCredits {
    font-size: 0.5rem;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 5%;
    height: 7%;
    cursor: pointer;
  }

  > div {
    padding: 0.5rem;
    width: 100%;
    .popUpName {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      h4 {
        padding-bottom: 0;
      }
    }
    h2 {
      font-size: 1.4rem;
      padding: 0.5rem 0;
    }
    .members {
      padding-bottom: 1rem;
      font-size: 1rem;
      font-weight: 100;
    }
  }
  .bioP {
    font-size: 0.8rem;
  }
  .readMore {
    border-bottom: 1px solid base.$primary-color;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0.5rem 0;
  }
}

// FOOTER
.footerContainer {
  background-image: url("./beach-footer.webp");
  background-position: 25% 30%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3rem;
  h4 {
    font-size: 1.3rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    line-height: 1.4rem;
  }
  .contactContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5rem 0;
  }
  .bgImageFadeOut {
    background-color: rgba(216, 216, 216, 0.553);
  }
  .contactIcons {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.3rem;
  }
}
//tickets-page styling
h1 {
  text-align: center;
  font-family: base.$headers-font;
}

.readMore {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  font-size: 1rem;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.ticketsBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 0 12rem;
  max-width: 1000px;
  margin: 1rem auto;
}
.ticketContainer {
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1rem;
  ul {
    padding: 1rem 1rem 1rem 2rem;
  }
  h4 {
    text-align: center;
    font-size: 3rem;
    border-bottom: 2px solid base.$primary-color;
    margin: 1rem 0;
  }
  p {
    text-align: center;
  }
}
.svgWave {
  background-image: url(../sass/wave.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 5.5rem;
  h3 {
    color: white;
    padding: 1rem;
    text-align: center;
    font-family: base.$logo-font;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
  }
}
.counter {
  display: flex;
  align-self: center;
  justify-content: center;
  font-size: 1.2rem;
  margin: 1rem;
}
.plusminus {
  padding: 0 0.5rem;
  background-color: #e57812;
  color: white;
  font-weight: 500;
  margin: 0 0.5rem;
  cursor: pointer;
}

.plusminus:disabled {
  opacity: 0.7;
}

.ticketsSummary {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  .primaryCTA {
    padding: 7px 14px;
  }
}

// INFO PAGE
// CAMPSITE
.campsiteContainer {
  display: flex;
  flex-direction: row;
  margin: 2rem auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  border-radius: 25px;
  padding: 1rem;
  max-width: 650px;

  img {
    min-width: 250px;
    max-width: 250px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
  }
  .campsiteInfo {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 0.5rem;
    padding: 2rem;

    ul * {
      list-style-position: inside;
      list-style-type: disc;
      padding-bottom: 0.2rem;
      font-family: base.$paragraph-font;
    }
  }
}

//FAQ
.questionsContainer {
  width: 60%;
  margin: 0 auto;
  .search {
    align-self: flex-end;
    margin: 1rem 0;
    border: 0.5px solid base.$primary-color;
    border-radius: 25px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    input {
      all: unset;
    }
    svg {
      margin: 0.2rem 0.5rem 0.2rem 0.2rem;
    }
  }
}

.singleQuestion {
  width: 100%;
  button {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    align-items: center;
    cursor: pointer;
    p {
      padding: 1rem 0;
      width: 95%;
    }
    &:hover {
      background-color: rgba(207, 207, 207, 0.39);
    }
  }
  p {
    padding: 2rem 0 2rem 1rem;
  }
  span {
    display: block;
    padding-bottom: 0.3rem;
  }
}

.openedQuestion {
  font-weight: 900;
  background-color: rgba(223, 223, 223, 0.39);
}

.rotateArrow {
  transform: rotate(180deg);
  transition-duration: 0.5s;
  animation-fill-mode: forwards;
}

.ReactCollapse--collapse {
  transition: 0.5s;
}

.timer-wrapper {
  position: absolute;
  right: -100px;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  transform: scale(0.5);
  font-size: 2rem;
  div {
    margin: 0 auto;
  }
}
.soldout {
  font-size: 2rem;
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}
.soldoutTickets {
  color: red;
}

.thankyou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 1000px) {
  h1 {
    padding: 2rem;
    font-size: 2.5rem;
  }
  .homeTitle ~ p {
    max-width: 90%;
  }

  .navComponent {
    flex-wrap: wrap;
    gap: 1rem;
    ul {
      padding: 0;
    }
  }
  .bannerImage a {
    font-size: 2.5rem;
  }
  .ticketsBox {
    display: block;
    margin: 0 auto;
    // width: 300px;
    padding: 0;

    .ticketContainer {
      width: 284px;
      display: block;
      margin: 0 auto;
      margin-bottom: 2rem;
    }
    table {
      width: 300px;
    }
  }
  .addToCartBtn {
    margin: 0 auto 2rem auto;
    display: block;
  }
  .sumTotal {
    margin-bottom: 1rem;
  }
  .contactContainer {
    padding: 2rem;
  }
  .timer-wrapper {
    top: 50px;
  }
  .questionsContainer {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
  }

  .homeTitle {
    padding-top: 2rem;
  }
  .homeTitle ~ p {
    font-size: 1rem;
  }

  .bannerImage {
    height: 20vh;
    .primaryCTA,
    .secondaryCTA {
      bottom: 10px;
      font-size: 1rem;
    }
    a {
      height: 20vh;
      font-size: 1.5rem;
    }
  }
  .defaultLineup {
    font-size: 1.5rem;
    width: 100%;
  }
  .timer-wrapper {
    top: 70px;
  }
  .questionsContainer {
    width: 90%;
  }
  .singleQuestion button p {
    padding: 0.6rem 0;
    font-size: 0.8rem;
  }
  .campsiteContainer {
    flex-wrap: wrap;
  }
  .schedule {
    margin: 1rem;
  }
}

@media screen and (max-width: 420px) {
  .navComponent {
    justify-content: center;
    padding: 1rem 2rem;
  }
  .lineupBand {
    text-transform: initial;
    column-gap: 0;
    font-size: 14px;
  }
  .bandCard h4 {
    font-size: 0.8rem;
  }
  .ticketsBox .ticketContainer {
    margin-bottom: 0;
  }
  table {
    padding: 0;
    margin: 1rem auto;
    align-self: center;
    th {
      margin: 0.2rem;
      font-size: 0.8rem;
    }
    td {
      font-size: 0.7rem;
      width: 60px;
    }
    .jp-card {
      width: 240px;
    }
  }
  .timer-wrapper {
    top: 100px;
    right: -50px;
  }
  .ticketContainer {
    transform: scale(0.8);
  }
  .schedule {
    margin: 0;
  }
  .counter {
    margin: 1rem 0;
  }
  // popup
  .popUp {
    position: absolute;
    width: 100vw;
    max-width: 100vw;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    max-height: 100vh;
    height: 100vh;
  }
}
